#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageCell {
    background-image: url('skyline r34.PNG');
    background-size: cover;
}